// Import Bulma's core
@import "~bulma/sass/utilities/_all"

// Import variables
@import "@/assets/style/variables.sass"

// Component-spefic settings
// Input
$input-shadow: none
// Dropdown
$dropdown-content-radius: 6px
$dropdown-content-shadow: 0 8px 8px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
// Navbar
$navbar-box-shadow-size: 0 0.5rem 1rem
$navbar-box-shadow-color: rgba(0,0,0,.15)
$navbar-dropdown-offset: -2px
// Menu
$menu-item-active-background-color: $primary

// Import Bulma and Buefy styles
@import "~bulma"
@import "~bulma-timeline"
@import "~buefy/src/scss/buefy"