// Colours
$dark: #1a1423
$dark-invert: findColorInvert($dark)
$primary: #540d6e
$primary-invert: findColorInvert($primary)
$link: #3e92cc
$link-invert: findColorInvert($link)
$twitter: #4099FF
$twitter-invert: findColorInvert($twitter)
$danger: #EE6C4D
$danger-invert: findColorInvert($danger)
$success: #4ECDC4
$success-invert: findColorInvert($success)
$grey-light: #B5B5B5
$grey-light-invert: findColorInvert($grey-light)
$grey-lighter: #DBDBDB
$grey-lighter-invert: findColorInvert($grey-lighter)
$warning-light: #FFF5CC
$warning-light-invert: findColorInvert($warning-light)

// Breaks
$break-mobile: 768px
$break-desktop: 1024px